APP_NAME=Placar Pro API
APP_DESCRIPTION=API para acompanhamento de resultados de futebol.
APP_VERSION=0.1.0

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/placar_pro

FOOTBALL_API_KEY=sua_chave_da_api
FOOTBALL_API_BASE_URL=https://v3.football.api-sports.io